body {
  font-family: "Poppins", sans-serif;
  background-color: #f3fff4;
}
* {
  z-index: 2;
}
.navbar {
  z-index: 3;
}
.btdaftar {
  width: 133px;
  height: 40px;
  border: none;
}
.btmasuk {
  width: 133px;
  height: 40px;
}

/* style hero */
#hero {
  background: linear-gradient(160deg, #048853, #000);
  height: 100vh;
  width: 100%;
}
#hero p {
  width: 85%;
}
.img-hero {
  height: 95%;
  z-index: 1;
}
/* akhir hero */

/* style layanan */
#layanan h2 {
  color: #048853;
}
.card-layanan {
  width: 100%;
  height: 313px;
  border-radius: 5px;
  background: linear-gradient(160deg, #048853, #000);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
}
.circle-icon {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
}
/* akhir layanan */

/* section search */
#search {
  background-image: url(../assets/img/Img-search.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
#search h2 {
  line-height: 72px;
}
#search p {
  line-height: 36px;
}
.input-cari {
  height: 88px;
}
.input-cari:focus {
  border: none;
}
.input-cari .btn1 {
  border: none;
  border-radius: 0 0 0 10px;
}
.input-cari .btn2 {
  border: none;
  width: 150px;
  background-color: #048853;
  border-radius: 0 10px 10px 0;
}
.nav-tabs {
  border: none;
}
.nav-tabs .nav-link {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px 10px 0 0;
  border: none;
  color: #000;
}
.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, 0.8);
  color: #048853;
  font-weight: 500;
}
/* akhir search */

/* section rekomendasi */
.card {
  height: 460px;
  width: 95%;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  background: linear-gradient(160deg, #048853, #007245, #007245, #000);
}
.card-body h4 {
  line-height: 0.8rem;
}
.card-body p {
  color: gray;
}
.card-fasilitas {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
  background-color: white;
}
.card-fasilitas p {
  font-size: 12px;
}
/* akhir rekomendasi */

/* section fitur */
.bt1 {
  width: 238px;
  height: 63px;
  border: none;
  font-size: 20px;
}
.bt2 {
  border-radius: 50%;
  border: none;
  padding: 0;
}
#fitur h2 {
  font-size: 48px;
}
.card-fitur h5 {
  font-size: 36px;
}
.card-fitur h6 {
  font-size: 24px;
}
.card-fitur span {
  font-size: 14px;
}
.card-fitur button {
  border: none;
  width: 150px;
  height: 45px;
  font-size: 18px;
}
.card-fitur .overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
/* akhir fitur */

/* section contact */
#contact {
  background-image: url(../assets/img/kontak-img.png);
  margin-top: 158px;
  background-size: cover;
  background-repeat: no-repeat;
}
#contact .overlay {
  background: rgba(0, 0, 0, 0.5);
}
#contact .container {
  padding: 148px 0;
}
#contact h3 {
  line-height: 60px;
  font-size: 40px;
}
.kontak h6 {
  font-size: 18px;
  line-height: 27px;
  margin: 19px 0 14px 0;
}
.kontak a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  margin-left: 18px;
}
.card-contact {
  height: 445px;
  background-color: white;
  border-radius: 5px;
  padding: 52px 48px;
}
.card-contact h2 {
  font-size: 40px;
  line-height: 60px;
  color: #00985b;
  margin-bottom: 21px;
}
.form-control {
  background: #c4c4c4;
  height: 75px;
}
.form-floating label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #717171;
}
.btc {
  line-height: 36px;
  font-size: 24px;
}
/* akhir contact */
